/*** ALL ***/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,900&display=swap&subset=cyrillic');

body {
    background: linear-gradient(103.82deg, rgba(0, 0, 0, 0.7) 14.23%, rgba(0, 0, 0, 0) 95.99%), url(assets/img/promo-kipr-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333%;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
em,
a {
    font-family: 'Open Sans', sans-serif;
    color: #211e1c;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.promo {
    padding-top: 130px;
}

.title {
    font-weight: bold;
    font-size: 96px;
    line-height: 1;
    color: #FFFFFF;
    position: relative;
}

.title-mobile {
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
}

.title img {
    position: absolute;
    bottom: 10px;
}

.subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

.subtitle img {
    position: absolute;
    bottom: 10px;
}

.subtitle-mobile {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: bold;
}

.features-list {
    margin-top: 130px;
    list-style: none;
}

.features-list li {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}

.features-list li:before {
    content: url("assets/img/filre.png");
    position: absolute;
    left: -40px;
}

.block-form {
    background: #FEFEFE;
    box-shadow: 12px 24px 25px rgba(0, 0, 0, 0.31);
    border-radius: 4px;
    padding: 60px;
}

.block-form__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}

.form {
    margin-top: 50px;
}

.form-input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #42868F;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 45px;
}

.form-input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.form-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.045em;
    color: rgba(12, 11, 11, 0.7);
    margin-bottom: 20px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: "";
    margin-right: 20px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    border: 2px solid #42868F;
    border-radius: 4px;
}

.styled-checkbox:hover + label:before {
    background: rgba(8, 96, 108, 0.2);
}

.styled-checkbox:checked + label:before {
    background: #2E686F;
    content: url("assets/img/checked.png");
}

.checkboxes {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    columns: 2;
}

.checkboxes li {
    margin-bottom: 10px;
}

.form-button {
    width: 100%;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    background: #42868F;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}
.show-mobile{
    display: none;
}

.form-button:hover {
    background: #4EA0AB;
}

@media screen and (max-width: 1366px) {
    .promo{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 1024px) {
    .promo{
        padding-left: 15px;
        padding-right: 15px;
    }
    .features-list{
        margin-top: 50px;
    }
}
@media screen and (max-height: 768px) {
    .col-6{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .col-6{
        width: 100%;
    }
    body{
        background-position: center;
    }
    .hidden-mobile{
        display: none;
    }
    .promo {
        padding-left: 0;
        padding-right: 0;
    }
    .block-form{
        padding: 15px;
        box-shadow: none;
    }
    .block-text{
        padding-left: 40px;
        padding-right: 40px;
    }
    .features-list {
        margin-top: 100px;
    }
    .features-list li{
        font-size: 18px;
        line-height: 25px;
    }
    .show-mobile{
        display: block;
    }
    .mobile-promo-text{
        text-align: center;
        margin-top: 85px;
    }
    .newsletter-title{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 50px;
    }
    .to-bottom{
        display: block;
        margin: 20px auto 50px auto;
        cursor: pointer;
    }
    .form{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.checkbox-divs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.checkbox-divs div{
    width: 50%;
    margin-bottom: 10px;
}
._error-inner{
    color: red;
}